---
layout: page
title: Spin Tires!
subtitle: The RV/Trailer owner's best friend, "Optimistic Bearings".
use-site-title: true
---

<div class="col-sm-12 align-self-center spacer-top">
  <h4>For All:</h4>
</div>

<div class="col-sm-4 feature-card">
  <h3>
    <i class="fa fa-briefcase greentint" aria-hidden="true"></i>
    Packing
  </h3>
  <ul>
    <li>Prebuilt helper lists, battle tested</li>
    <li>Create and reuse custom lists</li>
    <li>Community voted lists</li>
    <li>Cargo weight tracker</li>
  </ul>
</div>
<div class="col-sm-4 feature-card">
  <h3>
    <i class="fa fa-wrench greentint" aria-hidden="true"></i>
    Wrenching
  </h3>
  <ul>
    <li>Maintenance schedules used by real owners</li>
    <li>Troubleshooting guides with photos and gotchas</li>
    <li>Customizations and Upgrades worth every penny</li>
  </ul>
</div>
<div class="col-sm-4 feature-card">
  <h3>
    <i class="fa fa-road greentint" aria-hidden="true"></i>
    Traveling
  </h3>
  <ul>
    <li>Trip Planning</li>
    <li>Shared Great Campground Experiences</li>
    <li>Shared Trip Journals</li>
    <li>Boondocking tools</li>
  </ul>
</div>

<div class="col-sm-12 align-self-center">
  <h4>For New and Potential Owners:</h4>
</div>

<div class="col-sm-4 feature-card">
  <h3>
    <i class="fa fa-credit-card greentint" aria-hidden="true"></i>
    Buying
  </h3>
  <ul>
    <li>Picking the right one</li>
    <li>Walkthrough of dealership experience</li>
    <li>Savvy Shopper tips with photos</li>
    <li>Helpful gear reviews</li>
  </ul>
</div>
<div class="col-sm-4 feature-card">
  <h3>
    <i class="fa fa-sitemap greentint" aria-hidden="true"></i>
    Run Cards
  </h3>
  <ul>
    <li>Basic How-Tos for the newbie</li>
    <li>Demystfying onboard systems, with color diagrams</li>
    <li>Operational checklists that will save you from that "oops" moment</li>
  </ul>
</div>
<div class="col-sm-4 feature-card">
  <h3>
    <i class="fa fa-graduation-cap greentint" aria-hidden="true"></i>
    Live Simulator
  </h3>
  <ul>
    <li>Try before you buy</li>
    <li>Reduce learning curve for new owners</li>
    <li>Built on state of the art 3d gaming technology, runs on your phone!</li>
  </ul>
</div>

<div class="col-sm-12 align-self-center">
  <h6>*Check <a href="{% link roadmap.md %}">Roadmap</a> for current progress.</h6>
</div>

<div class="col-sm-12 align-self-center feature-card spacer-top">
  
  <h3>
    <i class="fa fa-question-circle greentint" aria-hidden="true"></i>
    Frequently Asked Questions:
  </h3>
  <ul>
    <li>
      <a href="{% link pricing.md %}">Pricing?</a> There is a no-obligation free tier and a full-featured paid tier.  
      <ul>
        <li>All revenue after our low operational costs will go to the <span class="label label-primary">Humane Society.</span></li>  
        <li>This app is built by volunteers in our free time and is not VC funded.</li>
      </ul>
    </li>
    <li>
      <a href="{% link aboutme.md %}">Misson Statement?</a> A site by RV/Trailer owner-operators. <i class="fa fa-heart greentint" aria-hidden="true"></i>  
      <ul>
        <li>Reduce learning curve for new owners.</li>  
        <li> Build cool tools for old owners.</li>
      </ul>
    </li>
    <li>
      <a href="{% link reviews.md %}">Real folks use this app?</a> Yes
      <ul>
        <li>It is a work in progress.  News and updates will be posted below.</li>  
        <li>Follow the link for reviews anyone has been kind enough to provide us.</li>
      </ul>
    </li>
    <li><a href="{% link reviews.md %}">Are you going to sell my email address?</a> No - We are serious about data privacy.</li>
    <li><a href="https://app.optimisticbearings.majway.com/signup">Let's Try It!</a> Go for it!</li>
  </ul>
</div>

<div class="col-sm-12 posts-list spacer-big-top">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
